{% extends "base.html" %}
{% block title %}BookStore{% endblock %}
{% block body %}

   <div class="ui link cards">
    {% for a in authors %}



          <div class="card">
            <div class="image">
              <img src="{{a.image.url}}">
            </div>
            <div class="content">
              <div class="header">{{a.name}}</div>
              <div class="meta">
                <a>Friends</a>
              </div>
              <div class="description">

                <div class="ui one buttons">
                    {% if user in a.followers.all %}
                    <div  class="ui basic red button" onclick="follow(this,{{ a.id }})"> unfollow </div>
                     {% else %}
                    <div class="ui basic green  button" onclick="follow(this,{{ a.id }})"> follow </div>
                    {% endif %}
                </div>

              </div>
            </div>
            <div class="extra content">
              <span class="right floated">
                Joined in 2013
              </span>
              <span>
                <i class="user icon"></i>
                75 Friends
              </span>
            </div>
          </div>

    {% empty %}
         No authors in the List
    {% endfor %}
    </div>

{% endblock %}
