{% extends "base.html" %}
{% load store_bookstatues %}
{% block title %}My Area{% endblock %}
{% block body %}


<div class="ui internally celled grid">
    <div class="row">

        <div class="twelve wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <h3>My Books</h3>
                    <div class="ui segment">
                        <div class="row">
                            <div class="ui grid">
                                            {% for b in books %}

                                <div class="three wide column">
                                    <div class="ui card">
                                        <div class="image" style="text-align: center;">
                                            <img src="{{ b.cover.url }}">
                                            <a href="/store/book/{{ b.id }}"><h4 >{{b.title}}</h4></a>
                                        </div>
                                        <div class="extra">

                                            Rating:
                                            <div id="{{ b.id }}" class="ui star rating"
                                                 data-rating="{{ b.r.rate }}"></div>
                                            rated :{{ b.avg.rate__avg }} count {{ b.count }}
                                        </div>

                                        <div class="ui compact menu">
                                            <div class="ui simple dropdown item">
                                                {% if b.s %}

                                                <a class="statue_{{ b.id }}">
                                                    {% if b.s.statues == "0" %}
                                                    Read
                                                    {% elif b.s.statues == "1" %}
                                                    Currently Reading
                                                    {% else %}
                                                    Want to Read
                                                    {% endif %}
                                                </a>
                                                {% else %}
                                                <a class="statue_{{ b.id }}" href="/store/book/{{ b.id }}/2">Want to
                                                    Read</a>
                                                {% endif %}
                                                <i class="dropdown icon"></i>
                                                <div id="statues_menu" class="menu">
                                                    <a class="item" onclick="changeState({{ b.id }},0)">Read</a>
                                                    <a class="item" onclick="changeState({{ b.id }},1)">Currently
                                                        Reading</a>
                                                    <a class="item" onclick="changeState({{ b.id }},2)">Want to Read</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                No Books in the List
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <h3>My Authors</h3>
                    <div class="ui segment">
                        <div class="ui cards">
                            {% for a in authors %}
                            <div class="card">
                                <div class="content">
                                    <img class="ui right floated avatar image" src="{{a.image.url}}">
                                    <div class="header">
                                        {{a.name}}
                                    </div>
                                    <div class="meta">
                                        {{a.country}}
                                    </div>
                                    <div class="description">

                                        {{a.dob}}
                                    </div>
                                </div>
                                <div class="extra content">
                                                    <div class="ui one buttons">
                                                        {% if user in a.followers.all %}
                                                        <div  class="ui basic red button" onclick="follow(this,{{ a.id }})"> unfollow </div>
                                                         {% else %}
                                                        <div class="ui basic green  button" onclick="follow(this,{{ a.id }})"> follow </div>
                                                        {% endif %}
                                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            You did'nt follow any author yet
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block javascript %}
<script>
        $('.ui.rating')
            .rating()
        ;

      books_num={{books_num}}
authors_num={{authors_num}}



</script>
{% endblock %}