{% extends "base.html" %}
{% load store_bookstatues %}
{% block title %}My Area{% endblock %}
{% block body %}


<div class="ui internally celled grid">
    <div class="row">

        <div class="twelve wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <h3>My Books</h3>
                    <div class="ui segment">
                        <div class="row">
                            <div class="ui grid">
                                {% for b in books %}
                                <div class="four wide column">
                                    <div class="ui  card">
                                        <div class="image">
                                            <img src="{{ b.cover.url }}">
                                        </div>
                                        <div class="extra">

                                            Rating:
                                            <div class="ui star rating" data-rating="5"></div>

                                        </div>

                                        <div class="ui dropdown item">
                                            <i class="dropdown icon"></i>
                                            {% if b.s %}

                                            <a href="/store/book/{{ b.id }}/{{ b.s.statues }}">
                                                {% if b.s.statues == "0" %}
                                                Read
                                                {% elif b.s.statues == "1" %}
                                                Currently Reading
                                                {% else %}
                                                Want to Read
                                                {% endif %}
                                            </a>
                                            {% else %}
                                            <a href="/store/book/{{ b.id }}/2">Want to Read</a>
                                            {% endif %}

                                            <div class="menu">
                                                <div class="header">Do it</div>
                                                <a class="item" href="/store/book/{{ b.id }}/{{ 0 }}">Read</a>
                                                <a class="item" href="/store/book/{{ b.id }}/{{ 1 }}">Currently
                                                    Reading</a>
                                                <a class="item" href="/store/book/{{ b.id }}/{{ 2 }}">Want to Read</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                No Books in the List
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui segments">
                <div class="ui segment">
                    <h3>My Authors</h3>
                    <div class="ui segment">
                        <div class="ui cards">
                            {% for a in authors %}
                            <div class="card">
                                <div class="content">
                                    <img class="ui right floated avatar image" src="{{a.image.url}}">
                                    <div class="header">
                                        {{a.name}}
                                    </div>
                                    <div class="meta">
                                        {{a.country}}
                                    </div>
                                    <div class="description">

                                        {{a.dob}}
                                    </div>
                                </div>
                                <div class="extra content">
                                    <div class="ui two buttons">
                                        <div class="ui basic green button">Approve</div>
                                        <div class="ui basic red button">Decline</div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            You did'nt follow any author yet
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block javascript %}
<script>
        $('.ui.rating')
            .rating()
        ;

      books_num={{books_num}}
authors_num={{authors_num}}



</script>
{% endblock %}